// Override default variables before the import
//$body-bg: #263238;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

//$font-family-base: Oswald;
$font-family-base: 'Product Sans', sans-serif;

//$form-range-thumb-active-bg:  #000000;
//$form-range-thumb-bg: #000000;

$form-range-track-bg: $gray-400;
$form-range-thumb-width:                   1.5rem;
$form-range-thumb-height:  1.5rem;
//$card-bg: $blue-100;
//$form-switch-width:               3em;
//$form-switch-padding-start:       $form-switch-width + 1em;
//$form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 8 8'><circle r='5' fill='#{$form-switch-color}'/></svg>");

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap';

/* src/custom.scss (ajouter à la fin) */
/* Force l'héritage de couleur pour tous les SVGs qui ne sont pas stylisés */
svg:not([fill]) {
  fill: currentColor;
}
