// Override default variables before the import
//$body-bg: #263238;

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//$font-family-base: Oswald;
$font-family-base: 'Product Sans', sans-serif;

//$form-range-thumb-active-bg:  #000000;
//$form-range-thumb-bg: #000000;

$form-range-track-bg: $gray-400;
$form-range-thumb-width:                   1.5rem;
$form-range-thumb-height:  1.5rem;

//$form-switch-width:               3em;
//$form-switch-padding-start:       $form-switch-width + 1em;
//$form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 8 8'><circle r='5' fill='#{$form-switch-color}'/></svg>");

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

