table {
    width: 100%;
}
th.lycee {
    text-align:left;
}
th.seuil {
    width: 20%;
    text-align:center;
}
th.variation {
    width: 10%;
    text-align:center;
}
td.seuilprev {
    width: 20%;
    text-align:center;
}
td.variation {
    width: 10%;
    text-align:center;
}
td.seuil {
    width: 20%;
    text-align:center;
}

a:link {
    text-decoration: solid;
}
a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
a:visited {
    text-decoration: solid;
}
a:active {
    text-decoration: solid;
}
